<!DOCTYPE html>
<html lang="zh-cn" >
<head>

    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="Copyright http://blog.fens.me">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="stylesheets/dependencies/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/dependencies/bootstrap-combined.min.css" rel="stylesheet">
    <link href="stylesheets/dependencies/bootstrap-datetimepicker.min.css" rel="stylesheet" >
    <link href="stylesheets/assets/index.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/dependencies/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/assets/format.js"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="javascripts/dependencies/angular.js"></script>
    <script src="javascripts/dependencies/angular-route.js"></script>
    <script src="javascripts/dependencies/highcharts.src.js"></script>
    <script src="javascripts/dependencies/highcharts-ng.js"></script>
    <script src="javascripts/dependencies/angularjs-dropdown-multiselect.min.js"></script>
    <script src="javascripts/dependencies/lodash.min.js"></script>
    <script src="javascripts/dependencies/ui-bootstrap-tpls.js"></script>
</head>
<body >