<% include header.ejs%>
<body ng-app="indexApp" ng-controller="DefaultController">
<div class="container">
<div class="section">
  <ul class="breadcrumb">
    <li><a href="#">Seller</a> </li>
    <li><a href="#">Listing Tool</a> </li>
    <li class="active">Selling Tool</li>
  </ul>
</div>
<div class="section ">
  <ul id="MyTab" class="nav nav-tabs">
    <li class="active">
      <a href="#SellingTool" data-toggle="tab">
        Selling Tool
      </a>
    </li>
    <li>
      <a href="#SellingError" data-toggle="tab">
        Selling Error
      </a>
    </li>
    <li>
      <a href="#eLVISError" data-toggle="tab">
        eLVIS Error
      </a>
    </li>
  </ul>
</div>


<div class="tab-content section">
  <div class=" tab-pane active " id="SellingTool" >
    <div class="form-group jumbotron">
      <div class="col-xs-2 ListingModel" >
        <label >Listing Model</label>
        <select class="col-xs-2 form-control " >
          <option ng-repeat="item in listingModels">{{item}}</option>
        </select>
      </div>
      <div class="col-xs-2 ListingDevice">
        <label >Listing Device</label>
        <select class="col-xs-2 form-control ">
          <option ng-repeat="item in listingDevices">{{item}}</option>
        </select>
      </div>
      <div>
        <blockquote class="blockquote-reverse">
          <div  id="today">
            <script language="JavaScript" type="text/javascript" >
              var timeinterval=setInterval(function(){
                var NowDate = new Date();
                document.getElementById('today').innerHTML = 'Date as of:'+NowDate.Format("yyyy-MM-dd hh:mm:ss");
                var left=TimeLeft();
                document.getElementById('footer').innerHTML='Expect to refresh in '+left;
                if(left=='00-00-00'){
                  clearInterval(timeinterval);
                }
              },1000);

            </script>
          </div>
          <footer id="footer">Expect to refresh in 01:49:01</footer>
        </blockquote>
      </div>
    </div>


  </div>
</div>


<div class="block">
    <div class="btn icon_block">
      <a class="btn btn-large btn-icon" href="#"><i class="glyphicon glyphicon-th-large"></i> </a>
      <p>Total</p>
    </div>
    <div class="btn icon_block">
      <a class="btn btn-large btn-icon" href="#"><i class="glyphicon glyphicon-phone"></i> </a>
      <p>iPhone</p>
    </div>
    <div class="btn icon_block">
      <a class="btn btn-large btn-icon" href="#"><i class="glyphicon glyphicon-question-sign"></i> </a>
      <p>Unknow</p>
    </div>
</div>


  <div class="block">

    <div class="line col-xs-3">
      <div class="input-group date form_date " data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
        <input  class="form_datetime" size="12" type="text" value={{today}}  readonly style="width:100px;height:30px;margin-top:10px;">
      </div>
    </div>
    <div class="line btn-toolbar" role="toolbar" >
      <div class="btn-group">
        <button class="btn btn-default active">Zoom</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default">1 Year</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default">1 Month</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default">YTD</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default">MAX</button>
      </div>
    </div>

    <table class="table table-striped table-bordered table-hover table-responsive " id="table1">
      <thead>
      <tr>
        <th></th>
        <th ng-click="go('0');col='completionRate';desc=!desc;" >Completion Rate</th>
        <th ng-click="go('1');col='photoCountPerDraft';desc=!desc">Photo Count per Draft</th>
        <th ng-click="go('2');col='avgListingTime';desc=!desc">Avg Listing Time</th>
        <th ng-click="go('3');col='titleLengthPerDraft';desc=!desc">Title Length per Draft</th>
        <th ng-click="go('4');col='errorCountPerDraft';desc=!desc">Error Count per Draft</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="i in tableItems | orderBy:col:desc">
        <td>{{i.item}}</td>
        <td>{{i.completionRate}}</td>
        <td>{{i.photoCountPerDraft}}</td>
        <td>{{i.avgListingTime}}</td>
        <td>{{i.titleLengthPerDraft}}</td>
        <td>{{i.errorCountPerDraft}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div >
    <highchart id="chart"  config="chartConfig"></highchart>
  </div>

</div>






<script type="text/javascript">
  $('.form_datetime').datetimepicker({
    language: 'zh-CN',
    weekStart: 1,
    todayBtn: 1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
  });


</script>
<script src="javascripts/assets/controllers/IndexController.js"></script>
<script src="javascripts/assets/Format.js"></script>
<script src="javascripts/assets/services/GetChartsProvider.js"></script>
<% include footer.ejs%>