<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="stylesheets/dependencies/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/assets/mailTable.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/dependencies/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap.min.js"></script>
    <script src="javascripts/dependencies/angular.js"></script>
    <script src="javascripts/dependencies/angular-route.js"></script>
    <script src="javascripts/assets/TimeFormat.js"></script>
</head>
<body ng-app="mailApp" ng-controller="mailController">

<br>
<div class="sendInfo" >
    <span style="font-weight:bold">From: </span>{{sendPerson}}
    <br>
    <span style="font-weight:bold">Date: </span>{{sendDate}}
    <br>
    <span style="font-weight:bold">To: </span>{{receivePerson}}
    <br>
    <span style="font-weight:bold">Subject: </span>{{subject}}
    <br>
</div>
<div class="subject" style="padding:10px">
    <h2>{{subject}}</h2>
    <p>{{description}}</p>
</div>

<div class="tables" style="padding:10px" ng-repeat="table in tables">
<table class="table table-striped table-bordered table-hover table-responsive">
    <thead >
      <tr>
         <th ng-repeat="column in columns">{{column}}</th>
      </tr>
    </thead>
</table>
</div>
</div>



<script type="text/javascript" src="javascripts/assets/mailTable.js"></script>
</body>
</html>