<!DOCTYPE html>
<html lang="zh-cn" >
<head>

    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="Copyright http://blog.fens.me">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="stylesheets/dependencies/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/dependencies/bootstrap-combined.min.css" rel="stylesheet">
    <link href="stylesheets/dependencies/bootstrap-datetimepicker.min.css" rel="stylesheet" >
    <!--<link href="stylesheets/assets/overview.css" rel="stylesheet"  type='text/css' >-->
    <link rel="stylesheet/less" type="text/css" href="stylesheets/assets/try_less.less">
    <script src="javascripts/dependencies/less.js" type="text/javascript"></script>
    <script type="text/javascript" src="javascripts/dependencies/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="javascripts/dependencies/angular.js"></script>
    <script src="javascripts/dependencies/angular-route.js"></script>
    <script src="javascripts/dependencies/highcharts.src.js"></script>
    <script src="javascripts/dependencies/highcharts-ng.js"></script>

</head>
<body bg-app="app">
<div class="global-header">
    <div class="head-left">
        <a class="home div_inline" href="#" ></a>
    </div>
    <div>
        <label class="character div_inline" >insight</label>
    </div>

    <div>
         <a class="down div_inline" href="#" ></a>
    </div>

</div>
<!--<div class="app-ihub-globalheader">-->
    <!--<div class="global-header header-usage flex">-->

        <!--<a class="ic-home hint&#45;&#45;bottom-right hint&#45;&#45;rounded hint&#45;&#45;info" href="https://ihub.corp.ebay.com" >-->
        <!--</a>-->
        <!--<div class="ic-products">-->
            <!--insightsHub&nbsp;-->
            <!--<i class="fa-sor-down"></i>-->
            <!--<i class="fa-sor-up" style="display:none;"></i>-->

        <!--</div>-->
        <!--<div class="is-usage"><a style="color:#fff;text-decoration:none" href="http://overview.seller.corp.ebay.com/">&nbsp;&nbsp;&nbsp;&nbsp;Seller</a></div>-->
        <!--<div class="flex-1"></div>-->

        <!--<a class="ic-chart hint&#45;&#45;bottom-left hint&#45;&#45;rounded hint&#45;&#45;info" href="https://ihub.corp.ebay.com/usage" target="_blank" aria-label="Product Usage">-->
        <!--</a>-->
        <!--<div class="ic-info hint&#45;&#45;bottom-left hint&#45;&#45;rounded hint&#45;&#45;info" style="display: block;" aria-label="Notification">-->
            <!--<span class="dot"></span>-->
        <!--</div>-->
        <!--<div class="ic-info2 hint&#45;&#45;bottom-left hint&#45;&#45;rounded hint&#45;&#45;info" aria-label="No current notification" style="display: none;">-->
        <!--</div>-->
        <!--<div class="ic-setting hidden"></div>-->
        <!--<a class="ic-question hint&#45;&#45;bottom-left hint&#45;&#45;rounded hint&#45;&#45;info" href="https://wiki.vip.corp.ebay.com/x/Vs7LEg" target="_blank" aria-label="Access Issues">-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
<!--<hr>-->






</body>
</html>