<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>StockChart</title>
    <script src="javascripts/dependencies/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="javascripts/assets/services/StockChart.js"></script>
</head>
<body>
<div class="row">
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
</div>
</body>
</html>
