<table class="table table-striped table-bordered table-hover table-responsive " >
    <thead>
    <tr>
        <th></th>
        <th>Completion Rate</th>
        <th>Photo Count per Draft</th>
        <th>Avg Listing Time</th>
        <th>Title Length per Draft</th>
        <th>Error Count per Draft</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in items | filter:query  | orderBy:orderProp">
        <td>{{i.item}}</td>
        <td>{{i.completionRate}}</td>
        <td>{{i.photoCountPerDraft}}</td>
        <td>{{i.avgListingTime}}</td>
        <td>{{i.titleLengthPerDraft}}</td>
        <td>{{i.errorCountPerDraft}}</td>
    </tr>
    </tbody>
</table>
